<!-- <div class="row content">
  <div class="col-md-3 image-preview">
    <searchlogo [selectedLogo]="selectedLogo"></searchlogo>
  </div>
  <div class="col-md-9">
    <div class="container-fluid card search-bar">
      <div *ngFor="let bar of bars; let i=index" >
          <form method="get" [action]="bar.link">
            <div class="input-group search-bar">
              <input type="text" name="q" class="form-control search-bar" autocomplete="off" [attr.autofocus]="bar.name == 'Google Search'" placeholder="{{bar.name}}" (focus)="onFocus(i)" on-blur="onBlur()" (mouseenter)="onHover(i)">
            </div>
          </form>
        </div>
    </div>
  </div>
</div> -->

<div class="content">
    <div class="container-fluid search-bar">
      <form method="get" action="http://www.google.co.za/search">
        <div class="input-group search-bar">
          <input id="searchG" type="text" name="q" class="form-control search-bar" autocomplete="off" autofocus placeholder="Google Search">
        </div>
      </form>
    </div>
  </div>