<div class="row">
  <div class="col-md-3 image-preview">
    <searchlogo></searchlogo>
  </div>
  <div class="col-md-9">
    <div class="container-fluid card search-bar">
      <form method="get" action="http://www.google.co.za/search">
        <div class="input-group stylish-input-group input-append search-bar">
          <input type="text" name="q" class="form-control search-bar" autocomplete="off" autofocus="" placeholder="Google Search">
        </div>
      </form>
      <form method="get" action="http://www.youtube.com/results">
        <div class="input-group stylish-input-group input-append search-bar">
          <input type="text" name="q" class="form-control search-bar" autocomplete="off" placeholder="Youtube Search">
        </div>
      </form>
      <form method="get" action="http://www.imdb.com/find">
        <div class="input-group stylish-input-group input-append search-bar">
          <input type="text" name="q" class="form-control search-bar" autocomplete="off" placeholder="IMDB Search">
        </div>
      </form>
    </div>
  </div>
</div>