div.card {
  width: 160px;
  height: 160px;
  border-radius: 0;
  background-color: rgba(240, 240, 240, 0.3);
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

div.card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  position: absolute;
}

img.active {
  opacity: 1;
  /* visibility: visible; */
}

img.inactive {
  opacity: 0;
  /* visibility: hidden; */
}