div.card {
  width: 160px;
  height: 160px;
  border-radius: 0;
  background-color: rgba(240, 240, 240, 0.3); 
}

/* img {
  border: solid;
  border-width: 1pt;
  border-color: #666;
  background-color: rgba(200, 200, 200, 0.3);
} */
 /* i {
   width: 150px;
   height: 150px;
 } */