@import '~@angular/material/theming';

@include mat-core();

$grey-primary: mat-palette($mat-grey);
$grey-accent: mat-palette($mat-blue);

$grey-warn: mat-palette($mat-red);

$grey-theme: mat-light-theme($grey-primary, $grey-accent, $grey-warn);

@include angular-material-theme($grey-theme);