@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.bg {
  margin-top: 1%;
  margin-right: 20%;
  margin-left: 20%;
  background-image: url("./assets/bg_blur.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
