@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "/assets/fontawesome.min.css"; */

.bg {
  margin-top: 1%;
  /* margin-right: 5%;
  margin-left: 5%; */
  background-image: url("./assets/bg_blur.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
